{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <div class="Cadastro">
        <h1>Faça seu Cadastro</h1>
        <form action="{% url 'ver_assunto'%} method=" POST "> {%csrf_token%}
        <input type="text " name="Nome " placeholder="Digite o seu nome completo... "><br>
        <br>
        <input type="text " name="Email " placeholder="Digite o seu email... "><br>
        <br>
        <input type="text " name="Confirmar Email " placeholder="Digite o seu email novamente... "><br>
        <br>
        <input type="password " name="Senha " placeholder="Crie uma senha... "><br>
        <br>
        <input type="password " name="Confirmar Senha " placeholder="Confirme sua senha... "><br>
        <button class="button1 ">Cadastrar</button>
    </form>
        
    </div>
</body>

</html>