{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site inicial</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>

<body>
    <div class="sidebar">
        <h1>Produtos</h1>
        <ul>
            {% for produto in produtos %}
            <li>
                {{ produto.nome }} - R$ <b>{{ produto.preco }}</b><br>
                Estoque: <b>{{ produto.estoque }}</b>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="content">
        <h2>Faça seu pagamento</h2>
        <form action="{% url 'pagar_produto' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Realizar Pagamento</button>
        </form>
    </div>
</body>

</html>
